<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCo9a8QdaFG-GDrjB5qr-5RcJaWiVXcAR8</string>
	<key>GCM_SENDER_ID</key>
	<string>281470701923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.roknmuslim.roknmuslimapp</string>
	<key>PROJECT_ID</key>
	<string>rokenalmuslem</string>
	<key>STORAGE_BUCKET</key>
	<string>rokenalmuslem.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281470701923:ios:e779ae8d90dd071602c356</string>
</dict>
</plist>